Package: libcppunit-dev
Source: cppunit
Version: 1.14.0-3
Architecture: amd64
Maintainer: Debian LibreOffice Maintainers <debian-openoffice@lists.debian.org>
Installed-Size: 75308
Depends: libcppunit-1.14-0 (= 1.14.0-3)
Suggests: libcppunit-doc
Replaces: cppunit (<< 1.10.0-3)
Section: libdevel
Priority: optional
Homepage: http://www.freedesktop.org/wiki/Software/cppunit
Description: Unit Testing Library for C++
 CppUnit is a simple Framework for incorporating test cases in
 your C++ code.  It is similar to, and inspired by, xUnit and
 JUnit.
