Package: libcppunit-doc
Source: cppunit
Version: 1.14.0-3
Architecture: all
Maintainer: Debian LibreOffice Maintainers <debian-openoffice@lists.debian.org>
Installed-Size: 5999
Conflicts: cppunit (<< 1.10.0-3), libcppunit-dev (<< 1.10.2-6)
Replaces: cppunit (<< 1.10.0-3), libcppunit-dev (<< 1.10.2-6)
Section: doc
Priority: optional
Homepage: http://www.freedesktop.org/wiki/Software/cppunit
Description: Unit Testing Library for C++
 CppUnit is a simple Framework for incorporating test cases in
 your C++ code.  It is similar to, and inspired by, xUnit and
 JUnit.
